body {
	background-color:#999;

}
#pageContainer{
	width:960px;
	margin:0 auto;
	border:1px solid #777;

}
.header{

	text-align:center;
	font-size:16px;
	border:2px solid #777;

}#mainContent{

	 min-height:300px;
	 background-color:#888;

 }
 #operaitons{
	 float:left;
	

 }
#operations ul {
	list-style:none;
	margin:0;
	padding:0;
	width:10px;
}
#operationContainer{
	float:left;
	width:594px;
	background-color:#666;
	margin-top: 0px;
}

#newAddress {
	min-height: 100px;
	background-color: #444;
}

#myAddresses{
min-height:100px;
background-color:#666;
display:none;
 }
 .cls{
	 clear:both;

 }